<% if @workshop.end_date %>
<% if @workshop.end_date < Date.today %>
  <p class="alert alert-info">
    <i class="fa fa-info-sign fa-large"></i>
    This workshop finished on <%= l @workshop.end_date, :format => :long %>, and this page is being kept for archival purposes only.
  </p>
<% end %>
<% end %>

<div class="row" style="position: relative;">
  <div class="span9">
    <div class="carousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @workshop.image.url(:slideshow) %>
          <div class="carousel-caption">
            <h1><%= @workshop.name %></h1>
            <p><%= @workshop.tagline %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span3 workshop-info-box">
    <div class="well">
      <h4>Dates</h4>
      <p>
        <b><%= @workshop.date_range %></b>
      </p>

      <% if @workshop.author and not @workshop.author.empty? %>
        <h4>Author</h4>
        <p>
          <%= @workshop.author %>
        </p>
      <% end %>

      <% if @workshop.venue then %>
        <h4>Venue</h4>
        <p>
          <%= link_to @workshop.venue.name, @workshop.venue %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render_markdown @workshop.description %>

<% unless @workshop.team_members.count == 0 %>
  <hr />

  <h4>Team</h4>
  <dl class="team_list">
  <% @workshop.team_members.each do |team_member| %>
    <dt><%= team_member.position %></dt>

    <dd>
    <% u = team_member.user %>
    <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
    </dd>
  <% end %>
  </dl>
<% end %>


<% if @workshop.pictures.count > 0 then %>
  <hr />

  <h3>Gallery</h3>

  <%= render 'shared/gallery', pictures: @workshop.pictures %>
<% end %>