<%= simple_nested_form_for(@template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <div class="well form-horizontal">
    <h3>Jobs</h3>
    <%= f.simple_fields_for :staffing_jobs %>

    <% add_job_text = '<i class="fa fa-plus"></i> Add Job'.html_safe %>
    <%= f.link_to_add add_job_text, :staffing_jobs, :class => "btn" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', admin_staffing_templates_path, :class => "btn" %>
  </div>
<% end %>
