<h1><%= @template.name %> Staffing Template</h1>

<ul>
  <% @template.staffing_jobs.each do |job| %>
    <li><%= job.name %></li>
  <% end %>
</ul>

<% if can? :edit, @template %>
  <% edit_text = '<i class="fa fa-pencil"></i> Edit'.html_safe %>
  <%= link_to edit_text, edit_admin_staffing_template_path(@template), :class => "btn" %>
<% end %>

<%= link_to 'Back', admin_staffing_templates_path, :class => "btn" %>