% @hide_cookie_notice = true %>

<div class="container">
  <div class="span12">
    <!--<h2>Sign up</h2>-->
    <h2>Activate Membership</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

    <%= f.input :first_name, required: true %>
        <%= f.input :last_name,  required: true %>

        <%= f.input :phone_number %>

        <div class="control-group">
          <%= f.label "User Profile" %>

          <div class="controls switch" data-on="success" data-on-label="Public" data-off="danger" data-off-label="Private" style="width: 200px;">
            <%=
               f.input_field :public_profile,
                              boolean_style: :inline
            %>
          </div>
        </div>

        <%= f.input :bio %>
        <%= f.input :avatar %>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
  </div>
</div>