<h1><%= @admin_proposals_proposal.show_title %></h1>

<% if @admin_proposals_proposal.has_debtors %>
    <div class="alert alert-error">
      <i class="icon-exclamation-sign icon-large"></i> One or more of this team are in debt.
    </div>
<% end %>

<% case @admin_proposals_proposal.successful %>
<% when true %>
    <div class="alert alert-success">
      <i class="icon-ok icon-large"></i> This proposal was successful.
    </div>
<% when false %>
    <div class="alert alert-error">
      <i class="icon-exclamation-sign icon-large"></i> This proposal was unsuccessful.
    </div>
<% end %>

<% if @admin_proposals_proposal.late %>
    <div class="alert alert-error">
      <i class="icon-info-sign icon-large"></i> This proposal has been marked late.
    </div>
<% end %>

<% case @admin_proposals_proposal.approved %>
<% when true %>
    <div class="alert alert-success">
      <i class="icon-ok icon-large"></i> This proposal has been approved by committee.
    </div>
<% when false %>
    <div class="alert alert-error">
      <i class="icon-exclamation-sign icon-large"></i> This proposal has been rejected by committee.
    </div>
<% else %>
    <div class="alert alert-info">
      <i class="icon-info-sign icon-large"></i> This proposal is waiting for approval by committee.
    </div>
<% end %>

<div>
  <b>Publicity text:</b>
  <%= render_markdown @admin_proposals_proposal.publicity_text %>
</div>

<div>
  <b>Proposal text:</b>
  <%= render_markdown @admin_proposals_proposal.proposal_text %>
</div>

<h3>Team</h3>

<% @admin_proposals_proposal.team_members.each do |team_member| %>
    <p>
      <b><%= team_member.position %></b>

      <% u = team_member.user %>
      <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
    </p>
<% end %>

<hr/>

<h3>Questions</h3>

<% @admin_proposals_proposal.answers.each do |answer| %>
    <div style="font-weight: bold"><%= render_markdown answer.question.question_text %></div>
    <% if answer.question.response_type == "File" then %>
        <%= answer.file.file? ? link_to(answer.file.original_filename, answer.file.url) : "No File Uploaded" %>
    <% else %>
        <% if answer.answer.presence then %>
            <%= render_markdown answer.answer %>
        <% else %>
            This question has not been answered
        <% end %>
    <% end %>
    <hr/>
<% end %>

<% if can? :edit, @admin_proposals_proposal %>
    <% edit_text = '<i class="icon-pencil"></i> Edit'.html_safe %>
    <%= link_to edit_text, edit_admin_proposals_call_proposal_path(@call, @admin_proposals_proposal), :class => "btn" %>
<% end %>

<% if (can? :manage, @admin_proposals_proposal) && (@admin_proposals_proposal.approved == true) %>
    <%= link_to 'Convert to Show', convert_admin_proposals_call_proposal_path(@call, @admin_proposals_proposal), :method => :put, :class => "btn btn-primary" %>
<% end %>

<% if (can? :approve, @admin_proposals_proposal) && (@admin_proposals_proposal.approved.nil?) %>
    <br/>
    <br/>

    <% approve_text = '<i class="icon-ok"></i> Approve'.html_safe %>
    <% case @admin_proposals_proposal.has_debtors %>
    <% when true %>
        <%= link_to approve_text, approve_admin_proposals_call_proposal_path(@call, @admin_proposals_proposal), method: :put, class:"btn btn-success", data: {"confirm" => "Approving " + @admin_proposals_proposal.show_title,
                                                                                                                                                              "detail" => "Warning you are attempting to approve a show with debtors.\n Please type \"Ignoring Debt\" to confirm",
                                                                                                                                                              "type-confirm" => 'Ignoring Debt'} %>
    <% when false %>
        <%= link_to approve_text, approve_admin_proposals_call_proposal_path(@call, @admin_proposals_proposal), :method => :put, :class => "btn btn-success" %>
    <% end %>

    <% reject_text = '<i class="icon-remove"></i> Reject'.html_safe %>
    <%= link_to reject_text, reject_admin_proposals_call_proposal_path(@call, @admin_proposals_proposal), :method => :put, :class => "btn btn-danger" %>
<% end %>