<%= simple_nested_form_for [:admin, @season], :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.input :slug %>

    <%= render "admin/shared/md_editor", :f => f, :field => :description %>

    <%= f.input :start_date %>

    <%= f.input :end_date %>

    <%= f.input :image %>

    <div class="form-horizontal">

      <h3>Team</h3>

      <% if f.object.errors[:team_members].present? then %>
      <p id="team_errors" class="alert alert-error">
        <%= f.error :team_members %>
      </p>
      <% end %>

      <ul class="sortable">
        <%= f.fields_for :team_members, :wrapper => false %>

        <li>
          <%= f.link_to_add :team_members, :class => "btn ui-state-disabled" do %>
            <i class="fa fa-plus"></i> Add Team Member
          <% end %>
        </li>
      </ul>

    </div>

    <div class="gallery-form">

      <h3>Gallery</h3>

      <% if f.object.errors[:pictures].present? then %>
      <p id="picture_errors" class="alert alert-error">
        <%= f.error :pictures %>
      </p>
      <% end %>

      <%= f.simple_fields_for :pictures %>

      <br />

      <% add_photo_text = '<i class="fa fa-plus"></i> Add Photo'.html_safe %>
      <%= f.link_to_add add_photo_text, :pictures, :class => "btn" %>

    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_seasons_path, :class => "btn" %>
  </div>
<% end %>
