<%= simple_nested_form_for(@template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <h3>Questions</h3>

    <%= f.simple_fields_for :questions %>

    <% add_text = '<i class="icon-plus"></i> Add Question'.html_safe %>
    <%= f.link_to_add add_text, :questions, :class => "btn" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary", :value => "Create Template" %>
    <%= link_to 'Back', admin_questionnaires_questionnaire_templates_path, :class => "btn" %>
  </div>
<% end %>
