<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list well">
        <li><%= link_to "#{@root_page.humanize.titleize} Resources", admin_resources_path(@root_page) %></li>
        <% @subpages.each do |page| %>
          <li><%= link_to page.humanize.titleize, admin_resources_path(@root_page + '/' + page) %></li>
        <% end %>
      </ul>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/admin' %>