<h1>Techie Families</h1>

<p>
  <%= link_to graph_admin_techie_families_url, class: 'btn' do %>
    <i class="fa fa-bar-chart"></i> Graph
  <% end %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @techies.each do |techie| %>
  <tr>
    <td><%= link_to techie.name, admin_techie_family_path(techie) %></td>

    <td>
    <% if can? :edit, techie %>
    <%= link_to 'Edit', edit_admin_techie_family_path(techie) %>
    <% end %>
    </td>

    <td>
    <% if can? :delete, techie %>
    <%= link_to 'Destroy', admin_techie_family_path(techie), method: :delete, data: { "confirm" => "Deleting " + techie.name,
                                                                                      "detail"  => "Are you sure you wish to continue?" } %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Techie %>
<% new_text = '<i class="fa fa-plus"></i> New Techie'.html_safe %>
<%= link_to new_text, new_admin_techie_family_path, :class => 'btn' %>
<% end %>