<% @hide_alert = true %>
<% @hide_cookie_notice = true %>

<% content_for :head do %>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end %>

<div class="container">
  <div id="login_form" class="row">
    <div class="span4 offset4">
      <% if params[:initial] then %>
        <h2>Set your password</h2>
      <% else %>
        <h2>Change your password</h2>
      <% end %>

      <hr />

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>

      <% if params[:initial] then %>
          <p style="font-size: x-small; line-height: normal;">
            By signing in, you agree that this website may store both a session
            cookie to allow you to log in, and any other cookies including tracking cookies.
            <br />
            For more information, please contact the <%= mail_to @support_email, 'Bedlam IT Systems Manager' %>.
          </p>
        <% end %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
