<div class="footer-container">
  <footer class="footer clearfix">
    <span class="pull-left">
      Bedlam Theatre is run by the Edinburgh University Theatre Company. Banner Artwork by <%= link_to 'Bronwen Bender', 'http://cargocollective.com/bronwenbender' %>
    </span>

    <span class="pull-right">
      <%= link_to 'Project BlackLightning', static_path('blacklightning') %> Version: <%= version %>
      -
      <%= link_to 'Report Bug', 'https://bitbucket.org/bedlamtheatre/black_lightning/issues' %>
      | <%= link_to 'Contact Us', static_path('contact') %>
    </span>
  </footer>
</div>