<!--[if lte IE 7]>
  <div id="ie_notice" class="alert alert-error">
    <p>
      <b>Attention!</b> You are using an old version of Internet Explorer.
      <br />
      This site is not designed to work with Internet Explorer 7 or earlier. Things may break.
      <br />
      Please, for the good of the web, upgrade to either a newer version of IE
      or an alternative browser such as Google Chrome, Firefox or Safari.
    </p>
  </div>
<![endif]-->