<p id="notice"><%= notice %></p>

<article>
    <header>
        <h2><%= @news.title %></h2>
        <p>
          <time datetime="<%= @news.publish_date.strftime("%FT%T%:z") %>"><%= l @news.publish_date, :format => :long %></time>
          by <span class="author"><%= @news.author.name %></span>
        </p>
    </header>

    <%= image_tag @news.image.url(:medium), :class => "float-right span3" %>

    <div><%= render_markdown @news.body %></div>

    <% if @news.publish_date != @news.updated_at %>
    <p>
      <small>
        Last updated:
        <%= l @news.updated_at, :format => :long %>
      </small>
    </p>
    <% end %>

</article>

<%= link_to 'Back', :back %><% if can? :edit, @news %> | <%= link_to 'Edit', edit_admin_news_path(@news) %><% end %>
