<% content_for :head do %>
  <%= javascript_include_tag "admin/team_member_fields.js" %>
<% end %>

<li class="team_member control-group fields <%= "error" if (f.error :user or f.error :position) %>">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :display_order,:class => 'display_order_input' %>

    <i class="icon-sort"></i>

    <% if f.error(:position).present? %>
      <%= f.error :position %>
      <br />
    <% end %>
    <% if f.error(:user).present? %>
      <%= f.error :user %>
      <br />
    <% end %>

    <div class="no-such-user" style="display: none">
      <span class="help-inline">User not in system. Please contact the Bedlam IT Systems Manager.</span>
      <br />
    </div>

    <%= f.input_field :position, :data => { :provide => "typeahead", :source => ['Director', 'Producer', 'Technical Manager', 'Stage Manager', 'Assistant to Mr B. Hussey'] } %>

    <% value = f.object.user ? "#{f.object.user.first_name} #{f.object.user.last_name}" : "" %>
    <input class="user_name" type="text" value="<%= value %>">
    <%= f.hidden_field :user_id, :class => "user_id" %>

    <% remove_text = '<i class="icon-remove"></i> Remove'.html_safe %>
    <%= f.link_to_remove remove_text, :class => "btn btn-danger" %>
</li>