<% @title = 'Shows' %>

<h1>Shows</h1>

<%= display_block("Shows (Members Face)", true) %>

<div class="row">
  <div class="span12">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#search_container">
          <i class="fa fa-chevron-down"></i> Search Form
        </a>
      </div>
      <div id="search_container" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_shows, html: { id: "search", class: "form-search" } do |f| %>
            <%= f.input :name_cont,            label: "Show Title",  required: false %>

            <%= f.input :start_date_gt, as: :date, label: "Start Date", include_blank: true, required: false %>
            <%= f.input :end_date_lt,   as: :date, label: "End Date",   include_blank: true, required: false %>

            <%= f.submit :Search, class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th></th>
            <th></th>
        </tr>
        <% @shows.each do |show| %>
        <tr>
            <td><%= link_to show.name, admin_show_path(show) %></td>
            <td><%= show.slug %></td>

            <td>
            <% if can? :edit, show %>
            <%= link_to 'Edit', edit_admin_show_path(show)%>
            <% end %>
            </td>

            <td>
            <% if can? :delete, show %>
            <%= link_to 'Destroy', admin_show_path(show), method: :delete, data: { "confirm" => "Deleting " + show.name,
                                                                                   "detail"  => "Be warned. Things may break if you continue. <br /> Please type the name of the show below if you are absolutely sure you want to do this.",
                                                                                   "type-confirm" => show.name } %>
            <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate(@shows) %>

<% if can? :create, Show %>
  <% add_text = '<i class="fa fa-plus"></i> Add Show'.html_safe %>
  <%= link_to add_text, new_admin_show_path, :class => "btn" %>
<% end %>