<div class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag @venue.image.url(:slideshow) %>
      <div class="carousel-caption">
        <h1><%= @venue.name %></h1>
        <p><%= @venue.tagline %></p>
      </div>
    </div>
  </div>
</div>

<%= render_markdown @venue.description %>

<hr />

<% if @venue.location %>
  <h3>Map</h3>

  <%# don't load the map unless we have to, were only allowed to do so 25,000 times a day %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh3mh3Lt0ymci2MV_KDHn9CFZRG0bppcE&sensor=false">
  </script>

  <div id="map_canvas" style="width:100%; height:300px"></div>

  <script type="text/javascript">
    var lat  = <%= @venue.location.split(",").first %>;
    var long = <%= @venue.location.split(",").last %>;
    function initialize() {
      var venue = new google.maps.LatLng(lat, long);
      var mapOptions = {
        center: venue,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

      var marker = new google.maps.Marker({
        position: venue,
        map: map,
        icon: {
          path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
          scale: 6,
          fillColor: "green",
          fillOpacity: 0.8,
          strokeColor: "black",
          strokeWeight: 2
        },
        animation: google.maps.Animation.DROP,
        title:"<%= @venue.name %>"
      });
    }
    initialize();
  </script>

<hr />

<% end %>

<% if @current_shows.count > 0 then %>
  <h3>Shows at <%= @venue.name %></h3>

  <div class="row">
  <% @current_shows.each do |show| %>
    <div class="span4">
      <div>
        <%= link_to (image_tag show.image.url(:medium)), show_path(show) %>
        <h4><%= link_to show.name, show_path(show) %></h4>
        <p><%= show.tagline %> <%= link_to 'Read More', show_path(show) %></p>
      </div>
    </div>
    <% end %>
  </div>

  <hr />
<% end %>

<% if @pictures.count > 0 then %>
  <h3>Gallery</h3>

  <%= render 'shared/gallery', pictures: @pictures %>
<% end %>