.dashboard h3 {
    margin-top: 0px;
}

.dashboard h3 > a {
    color: #333;
    border-bottom: 1px #333 dotted;
}

.dashboard h3 > a:hover {
    text-decoration: none;
}

.gridster > ul {
    list-style: none;
}

.gridster li {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
}

.gridster .preview-holder {
    border: none!important;
    background: #000000!important;
}