<% @hide_cookie_notice = true %>
<% @hide_alert = true %>

<div style="text-align: center;">
<p style="margin-top:20px;">
  <b style="font-size: large; color: #dc143c;">Sorry<%= current_user.present? ? " #{current_user.first_name}, " : " ," %>there was a problem fetching this page.</b>
</p>
<pre><%= flash[:error] %></pre>
<p>
  We have been informed.
</p>
<p>
  HAL is sorry.
</p>
</div>