<div class="row">
  <div class="span8">
    <div id="showSlider" class="carousel slide" <%= "data-interval=false" if mobile_device? %>>

      <div class="carousel-inner <%= "carousel-inner-mobile" if mobile_device? %>">
        <% @shows.each do |show| %>

          <div class="<%= "active" if show == @shows.first %> item">
            <% if mobile_device? %>
              <div style="margin: 0 70px;" class="mobile-carousel">
                <%= link_to "<h4>#{show.name}</h4>".html_safe, show_path(show) %>
                <p><%= show.tagline %> - <b><span class="show-date"><%= show.date_range %></span></b></p>
              </div>
            <% else %>
              <%= link_to (image_tag show.image.url(:slideshow)).html_safe, show_path(show) %>
              <div class="carousel-caption">
                <%
                  caption_text = "<h4>#{show.name}</h4>"
                  caption_text += " by #{show.author}" if show.author?
                %>
                <%= link_to caption_text.html_safe, show_path(show) %>
                <p>
                  <%= "#{show.tagline} - " if show.tagline? %>
                  <b><span class="show-date"><%= show.date_range %></span></b>
                  <%= " - #{show.price}" if show.price? %>
                </p>
              </div>
            <% end %>
          </div>

        <% end %>

        <% if @shows.count == 0 && not(mobile_device?) then %>
          <%# between 1st June and 1st September, advertise Bedlam Fringe %>
          <% year = Date.today.year %>
          <% if (Date.new(year, 6, 01)..Date.new(year, 9, 01)).include_with_range? Date.today then %>
            <a href="http://www.bedlamfringe.co.uk">
              <img src="/images/fringe.png" />
            </a>
          <% else %>
            <img src="/images/no-shows.png" />
          <% end %>
        <% end %>

      </div>

      <!-- Carousel nav -->
      <% if @shows.count > 1 then %>
          <a class="carousel-control left" href="#showSlider" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#showSlider" data-slide="next">&rsaquo;</a>
      <% end %>
    </div>

    <div class="row">
      <% if block_exists("Home") %>
        <div class="span8">
          <%= display_block("Home", false) %>
        </div>
      <% else %>
        <div class="span8"></div>
      <% end %>
    </div>

    <div class="row content">
      <% @news.first(2).each do |news| %>
      <div class="span4">
        <div>
          <%= link_to (image_tag news.image.url(:medium)), news_path(news) unless mobile_device? %>
          <h4><%= link_to news.title, news_path(news) %></h4>
          <%= truncate(render_plain(news.body), length: 80) %>
          <%= link_to 'Read More', news_path(news) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- SIDEBAR -->
  <hr class="visible-phone" />

  <div class="span4">
    <h3><%= link_to '@BedlamTheatre', 'https://twitter.com/bedlamtheatre' %></h3>
    <div>
      <% twitter_timeline.each do |tweet| %>
        <p>
          <small>
            <%= auto_link_tweet(tweet) %>
            <span class="tweet-date">
              <%= l tweet.created_at, format: :short if tweet.created_at %>
            </span>
          </small>
        </p>
      <% end %>
    </div>

    <hr />

    <h3><%= link_to "Archives", archives_index_path %></h3>
    <% if @last_show %>
      <%= link_to @last_show.name, @last_show %>
      <% image = image_tag @last_show.image.url(:medium) %>
      <%= link_to image, @last_show, :class => "thumbnail" unless mobile_device? %>
    <% end %>
  </div>
</div>
