<% @hide_cookie_notice = true %>

<% content_for :head do %>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end %>

<div class="container">
  <div id="login_form" class="row">
    <div class="span5 well">
      <h2>Existing Members</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<hr />

<%= render "devise/shared/links" %>

<p style="font-size: x-small; line-height: normal;">
        By signing in, you agree that this website may store both a session
        cookie to allow you to log in, and any other cookies including tracking cookies.
        <br />
        For more information, please contact the <%= mail_to @support_email, 'Bedlam IT Systems Manager' %>.
      </p>
    </div>

    <div class="span6 well">
      <h2>New Members</h2>

      <h3>
        Please buy membership at the box office or from our 
        <a href="https://www.eusa.ed.ac.uk/activities/societies/society/bedlamtheatre/">EUSA society page</a>.
      </h3>

      <p>
        If you already have membership, but do not have an account for this website, please contact a member
        of committee.
      </p>
    </div>
  </div>
</div>
