<% @title = 'Roles' %>

<h1>Listing Roles</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <% @roles.each do |role| %>
        <tr>
            <td><%= role.name %></td>

            <td>
            <% if can? :edit, role %>
            <%= link_to 'Edit', edit_admin_role_path(role) %>
            <% end %>
            </td>

            <td>
            <% if can? :delete, role %>
            <%= link_to 'Destroy', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if can? :create, Role %>
  <% new_text = '<i class="fa fa-plus"></i> New Role'.html_safe %>
  <%= link_to new_text, new_admin_role_path, :class => "btn" %>
<% end %>