<%= simple_form_for(@admin_maintenance_debt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    User: <%= f.input_field :user_id, :collection => @users.collect {|u| ["#{u.first_name} #{u.last_name}".presence || u.email, u.id]} %><br>
    Show: <%= f.input_field :show_id, :collection => @shows.collect {|s| ["#{s.name}" , s.id]} %><br>
    <%= f.input :due_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
