<h1>Editing Maintenance Debt</h1>

<%= simple_form_for(@admin_maintenance_debt) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :due_by , label: "Due By"%>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<%= link_to 'Show', @admin_maintenance_debt %> |
<%= link_to 'Back', admin_maintenance_debts_path %>
