<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_staffing_debt.user.name_or_email %>
</p>

<p>
  <strong>Show:</strong>
  <%= @admin_staffing_debt.show.name %>
</p>

<p>
  <strong>Dueby:</strong>
  <%= @admin_staffing_debt.due_by %>
</p>

<p>
  <strong>Admin staffing job:</strong>
  <%= @admin_staffing_debt.admin_staffing_job_id %>
</p>

<table class="table">
  <tbody>
  <tr>
    <th>Job</th>
    <th>Date</th>
    <th></th>
  </tr>
  <% @jobs.each do |job| %>

      <tr>
        <td><%= job.staffable.show_title %></td>
        <td><%= job.staffable.start_time.to_s(:long_ordinal)%></td>
        <td>
          <% if true %>
              <%= link_to 'associate' , assign_admin_staffing_debt_path(id:@admin_staffing_debt.id,jobid:job)%>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_staffing_debt_path(@admin_staffing_debt) %> |
<%= link_to 'Back', admin_staffing_debts_path %>
