/* From Bootstrap Century */
$sansFontFamily: Helvetica, Arial;
$headingsColor:  #dc143c;
$linkColor:      #dc143c;

@import "bootstrap-extensions";

@import url(https://fonts.googleapis.com/css?family=Gafata);

#logo {
    height: 130px;
}

.header {
    margin-top: 10px;
    margin-bottom: 20px;
    //background-color: white;
}

body {
    background-image: url('cream_dust.png');
    background-repeat: repeat;
}

h1,h2,h3,h4,g5,h6 {
    font-family: Gafata, Arial
}

h3 {
    font-size: 20px;
}

#side {
    border-left: 1px solid #D1D1D1;
    padding: 10px 0 20px 10px;
}

.content {
    margin-top: 20px;
}

#nav {
    margin: 0 -12px -25px -12px;
    width: 100%;

    width:          calc(100% + 24px);
    width:     -moz-calc(100% + 24px);
    width:  -webkit-calc(100% + 24px);

    text-align: justify;
}

#nav:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#nav li {
    display: inline-block;
    float: none;
}

#nav a {
    font-weight: bold;
    font-size: 20px;
    color: #660000;
}

#nav_minor {
    margin-right: -12px;
}

.author {
    font-weight: bold;
}

.seasons-accordion h4 {
    margin: 0;
}

.seasons-accordion .accordion-heading {
    padding: 10px;
}

.seasons-accordion .accordion-toggle {
    padding: 0;
}

.carousel-caption h4 {
    display: inline-block;
}

.carousel-caption a {
    color: #ffffff;
}

.carousel-caption a:hover {
    text-decoration: none;
}

.carousel-inner-mobile {
    background: #333333;
}

.mobile-carousel {
    padding: 15px;
}

.mobile-carousel p {
    color: white;
    line-height: 20px;
}

.tweet-date {
    float: right;

    color: $grayLight;
    font-size: 0.8em;
}

/* Responsive Stuff */
@media (max-width: 979px) and (min-width: 768px) {
  #nav li {
    padding: inherit;
  }
}

@media (max-width: 767px) {
  #nav_minor {
    float: none;
    margin-bottom: 5px;
  }

  #nav_minor li {
    float: none;
  }

  #nav_collapse {
    float: none;
    margin-bottom: 5px;
  }

  #nav_collapse li {
    float: none;
  }

  #nav {
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
    width: 100%;
  }

  #nav li {
    padding: inherit;
    display: block;
  }
}

.xtsprodates{margin-top:20px;}.xtsprodates a{text-decoration:none;}
.xtsprodates a:hover{text-decoration:underline;}
.xtsprodates .director{width:160px;height:90px;background-color:#de6b4f;float:right;position:relative;}.xtsprodates .director .arrow{position:absolute;width:160px;height:31px;bottom:0px;background-color:white;}
.xtsprodates .date{clear:both;margin-bottom:10px;background-color:#EEE;}.xtsprodates .date .time{display:block;float:right;padding:5px 10px;width:140px;text-align:right;background-color:#8ba674;font-weight:bold;color:white;}.xtsprodates .date .time .booknow{float:left;text-transform:uppercase;font-size:0.7em;padding-top:3px;display:none;}
.xtsprodates .date .time:hover{text-decoration:none;}.xtsprodates .date .time:hover .booknow{display:block;}
.xtsprodates .date .time.preview{background-color:#9c446d;}
.xtsprodates .date .time.twoforone{background-color:#de6b4f;}
.xtsprodates .date .time.soldout{background-color:#555;}
.xtsprodates .date .datedate{padding:5px;}
.xtsprodates form.bookingform{margin:0;padding:0 5px 20px 5px;}.xtsprodates form.bookingform .tickettyperow{height:40px;}.xtsprodates form.bookingform .tickettyperow div{float:left;padding-top:6px;height:34px;text-align:right;}
.xtsprodates form.bookingform .tickettyperow b{color:#C21C28;}
.xtsprodates form.bookingform .tickettyperow .typename{width:200px;height:32px;padding-top:8px;padding-right:6px;font-size:13px;}
.xtsprodates form.bookingform .tickettyperow .pricefield{width:60px;font-size:9px;padding-top:8px;height:32px;}.xtsprodates form.bookingform .tickettyperow .pricefield .price{font-weight:bold;font-size:14px;}
.xtsprodates form.bookingform .tickettyperow .quantity{width:70px;padding-right:10px;padding-top:5px;height:35px;}
.xtsprodates form.bookingform .tickettyperow .quantity select {width: 70px;}
.xtsprodates form.bookingform .tickettyperow .subtotal{width:70px;font-size:16px;padding-right:10px;padding-top:6px;height:34px;}
.xtsprodates form.bookingform .tickettyperow .subtotal.total{font-weight:bold;}
.xtsprodates form.bookingform .tickettyperow .bookingfeefield{width:330px;padding-left:10px;padding-right:0px;font-size:11px;}
.xtsprodates form.bookingform .tickettyperow .totallabel{width:330px;padding-left:10px;padding-right:0px;font-size:16px;}
.xtsprodates form.bookingform .totalrow{border-top:1px dashed black;}
.xtsprodates form.bookingform .tickettyperow.description{font-size:11px;color:#666;padding-left:100px;padding-right:100px;height:auto;line-height:1.1em;}
.xtsprodates form.bookingform .continue{width:400px;padding-left:13px;text-align:right;}
.xtsprodates form.bookingform .attrib{text-align:right;font-size:12px;line-height:15px;padding-top:10px;padding-right:3px;}
.suggestion.twoforone{color:white;font-weight:bold;background-color:#DE6B4F;padding:10px;}
