#login_form {
  display: -webkit-flex;
  display:    -mos-flex;
  display:     -ms-flex;
  display:         flex;
}

#login_form form {
  margin: 0;
}

#login_form .form-actions {
  margin-bottom:  0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  #login_form {
    display: block;
  }
}