<%= simple_form_for [:admin, @user] do |f| %>
<div class="form-inputs">
  <fieldset class="fieldset form-horizontal">
    <legend>User Details</legend>

    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>

    <% hint = "Leave blank to generate random password" if not @user.persisted? %>

    <%= f.input :password, :hint => hint %>
    <%= f.input :password_confirmation %>

    <% if can? :assign_roles, @user %>
      <%= f.association :roles, :as => :check_boxes %>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend>Public Profile</legend>

    <div class="control-group">
      <%= f.label :is_public %>

      <div class="controls switch" data-on="success" data-on-label="Public" data-off="danger" data-off-label="Private" style="width: 200px;">
        <%=
           f.input_field :public_profile,
                          boolean_style: :inline
        %>
      </div>
    </div>

    <%= f.input :avatar %>
    <%= render :layout => "admin/shared/md_editor", :locals => { :f => f, :field => :bio, :rows => 12 } do %>
      <%= render "admin/shared/md_hints" %>
    <% end %>
  </fieldset>
</div>
<div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to 'Back', :back, class: "btn" %>
</div>
<% end %>