<% @title = 'User Details' %>

<h1><%= @user.name %></h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><%= link_to @user.phone_number, "tel: #{@user.phone_number}" unless @user.phone_number.blank? %></td>
        </tr>
        <tr>
            <th>Roles</th>
            <td><%= @user.roles.collect {|role| role.name.capitalize }.join(', ') %></td>
        </tr>
        <tr>
            <th>Sign in count</th>
            <td><%= @user.sign_in_count %></td>
        </tr>
        <tr>
            <th>Card Number</th>
            <td>
                <% unless @user.card_number.nil? %>
                  <%= link_to @user.card_number, admin_membership_card_path(@user.membership_card) %>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user.id), class: 'btn'%>
<%= link_to 'Reset Password', reset_password_admin_user_path(@user.id), method: :post, class: 'btn'%>