<h1><%= @fault_report.item %></h1>
<div>
  <dl>
    <dt>Item</dt>
    <dd><%= @fault_report.item %></dd>
  <dl>
    <dt>Severity</dt>
    <dd><%= @fault_report.severity.humanize %></dd>
  </dl>
  <dl>
    <dt>Status</dt>
    <dd><%= @fault_report.status.humanize %></dd>
  </dl>
  <dl>
    <dt>Reported by</dt>
    <dd><%= @fault_report.reported_by.try(:name) || "No one" %></dd>
  </dl>
  <dl>
    <dt>Fixed by</dt>
    <dd><%= @fault_report.fixed_by.try(:name) || "No one" %></dd>
  </dl>
</div>
<hr />
<div>
  <%= render_markdown @fault_report.description %>
</div>

<% if can? :edit, @fault_report %>
  <br />

  <%= link_to edit_admin_fault_report_path(@fault_report), :class => 'btn' do %>
    <i class="fa fa-pencil"></i> Edit
  <% end %>
<% end %>
