<% case f.object.question.response_type %>
  <% when "Long Text" %>
    <%= render :partial => "admin/shared/md_editor", :locals => { :f => f, :field => :answer } %>
  <% when "Number" %>
    <%= f.input_field :answer, :as => :decimal %>
  <% when "Yes/No" %>
    <%= f.input_field :answer, :as => :select, :collection => ['Yes', 'No'] %>
  <% when "File" %>
    <% if f.object.file? %>
      <label>Current:</label>
      <%= link_to f.object.file.original_filename, f.object.file.url %>

      <br />
    <% end %>

    <label>Upload New:</label>
    <%= f.input_field :file %>
  <% else %>
    <%= f.input_field :answer, :as => :string %>
<% end %>