<% content_for :head do %>
  <%= javascript_include_tag "admin/staffing_templates.js" %>
<% end %>

<%= simple_nested_form_for(@admin_staffing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :show_title %>

    <%= f.input :start_time %>
    <%= f.input :end_time%>

    <div class="well form-horizontal">
    <h3>Jobs</h3>
    <%= f.simple_fields_for :staffing_jobs %>

    <% add_job_text = '<i class="fa fa-plus"></i> Add Job'.html_safe %>
    <%= f.link_to_add add_job_text, :staffing_jobs, :class => "btn" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <a href="#template_modal" role="button" class="btn" data-toggle="modal">Load Template</a>
    <%= link_to 'Cancel', admin_staffings_path, :class => "btn" %>
  </div>
<% end %>


<div class="modal hide" id="template_modal" role="dialog" aria-labelledby="template_modal_header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="template_modal_header">Select Staffing from Template</h3>
  </div>
  <div class="modal-body">
    <form id="template_selector">
      <select id="template_list">
        <option></option>
      </select>
      <div id="template_summary">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <span style="position: absolute;bottom: 10px;left: 10px;"><%= link_to 'Edit templates', admin_staffing_templates_path %></span>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="template_load" class="btn btn-primary disabled">Load template</button>
  </div>
</div>

<div id="date_blueprint" style="display: none" class="control-group datetime">
  <%= select_datetime %>
  <a class="btn btn-danger"><i class="fa fa-remove"></i> Remove</a>
</div>