<h1>Staffing for <%= params[:show_title] %></h1>

<%= display_block("Staffing", true) %>

<table class="table table-hover" style="table-layout: fixed;">
  <thead>
    <tr>
      <th style="width: 160px;">Date</th>

      <% @job_titles.each do |title| %>
        <th><%= title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @staffings_hash.each do |staffing_hash| %>
      <tr>
        <td>
          <%= link_to staffing_hash[:staffing] do %>
            <%= l staffing_hash[:start_time], :format => :long_date_only %>
            <br />
            <%= l staffing_hash[:start_time], :format => :time_only %>
            -
            <%= l staffing_hash[:end_time], :format => :time_only %>
          <% end %>
        </td>

        <% @job_titles.each do |title| %>
          <td>
            <% job = staffing_hash[:jobs][title] %>
            <% if job %>
              <% u = job.user %>
              <% if u then %>
                <%= user_link_or_text(u) %>
              <% else %>
                <input type="hidden" class="job_json" value="<%= job.to_json %>" >
                <% date = l staffing_hash[:start_time], :format => :long %>
                <%= link_to admin_sign_up_confirm_path(job), :class => "btn staffing-sign-up", :method => :put, data: { "confirm" => "Confirm Staffing",
                                                                                                                                               "detail"  => "Confirm staffing as #{job.name} for #{params[:show_title]} on #{date}",
                                                                                                                                               :job_id   => job.id
                                                                                                                                             } do %>
                  <i class="fa fa-edit"></i> Sign Up
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
