<h1>Staffing</h1>

<%= display_block("Staffing", true) %>

<br />
<br />

<h3>Upcoming Positions</h3>

<ul class="nav nav-tabs nav-stacked">
  <% @admin_staffings.each do |show_title, staffings| %>
    <%= render 'staffing', show_title: show_title %>
  <% end %>
</ul>

<br />

<% if can? :create, Admin::Staffing %>
  <% add_text = '<i class="fa fa-plus"></i> Create Staffing for Show'.html_safe %>
  <%= link_to add_text, new_for_show_admin_staffings_path, :class => "btn btn-primary" %>

  <% add_text = '<i class="fa fa-plus"></i> Add Staffing'.html_safe %>
  <%= link_to add_text, new_admin_staffing_path, :class => "btn" %>
<% end %>

<h3>Old Positions</h3>

<ul class="nav nav-tabs nav-stacked">
  <% @admin_staffings_archive.each do |show_title, staffings| %>
    <%= render 'staffing', show_title: show_title, archived: true %>
  <% end %>
</ul>