<h1>Sign up to staff for <%= @admin_staffing.show_title %></h1>
<h3><%= l @admin_staffing.start_time, :format => :long %> – <%= l @admin_staffing.end_time, :format => :long  unless @admin_staffing.end_time == nil%></h3>

<input type="hidden" class="staffing_json" value="<%= @admin_staffing.to_json %>" >

<table class="table">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>Staffed By</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_staffing.staffing_jobs.each do |staffing_job| %>
      <tr>
        <td>
          <%= staffing_job.name %>
        </td>

        <td>
          <% u = staffing_job.user %>
          <% if u then %>
            <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
          <% else %>
            <input type="hidden" class="staffing_job_json" value="<%= staffing_job.to_json %>" >
            <% sign_up_text = '<i class="fa fa-edit"></i> Sign Up'.html_safe %>
            <% date = l staffing_job.staffable.start_time, :format => :long %>
            <%= link_to sign_up_text, admin_sign_up_confirm_path(staffing_job), :class => "btn staffing-sign-up", :method => :put, data: { "confirm" => "Confirm Staffing",
                                                                                                                                           "detail"  => "Confirm staffing as #{staffing_job.name} for #{staffing_job.staffable.show_title} on #{date}",
                                                                                                                                           :job_id   => staffing_job.id
                                                                                                                                         } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_staffings_path, :class => "btn" %>
