<h1>Staffing for <%= @admin_staffing.show_title %></h1>
<h3><%= l @admin_staffing.start_time, :format => :long %> – <%= l @admin_staffing.end_time, :format => :long  unless @admin_staffing.end_time == nil%></h3>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Job</th>
      <th>Name</th>

      <% if current_user.has_role? :committee %>
        <th>Phone Number</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @admin_staffing.staffing_jobs.each do |staffing_job| %>
      <tr>
        <td><%= staffing_job.name %></td>

        <% u = staffing_job.user %>
        <% if u then %>
          <td><%= "#{u.first_name} #{u.last_name}".presence || u.email %></td>

          <% if current_user.has_role? :committee %>
            <td><%= u.phone_number %></td>
          <% end %>
        <% else %>
          <td></td>

          <% if current_user.has_role? :committee %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :sign_up_for, Admin::StaffingJob %>
  <% sign_up_text = '<i class="fa fa-edit"></i> Sign Up'.html_safe %>
  <%= link_to sign_up_text, show_sign_up_admin_staffing_path(@admin_staffing), :class => "btn btn-primary" %>
<% end %>

<% if can? :edit, @admin_staffing %>
  <% edit_text = '<i class="fa fa-pencil"></i> Edit'.html_safe %>
  <%= link_to edit_text, edit_admin_staffing_path(@admin_staffing), :class => "btn" %>
<% end %>

<%= link_to 'Back', admin_staffings_path, :class => "btn" %>