<!DOCTYPE html>
<html>
<%# Include the opengraph namespaces: %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">

  <!-- measure page load time -->
  <script type="text/javascript">
    load_start = new Date().getTime();
    doc_ready = null;
    load_end = null;
  </script>

  <title><%= "#{@title} | " unless @title == nil%>Bedlam Theatre</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <%= meta_tags.html_safe %>
</head>
<body>
  <div class="container">
    <!-- START HEADER SECTION -->
    <div class="row">
    <div class="span12 header">
      <%= link_to image_tag('BedlamLogoBW.png'), root_url, class: "visible-phone", style: "margin-left: 10px; width: 120px; border: 1px solid #000000;" %>

      <ul id="nav_collapse" class="nav nav-pills visible-phone">
        <li>
          <a data-toggle="collapse" data-target=".nav-collapse">
            Menu
          </a>
        </li>
      </ul>

      <ul id="nav_minor" class="pull-right nav nav-pills nav-collapse collapse">
        <li><a href="http://facebook.com/bedlamtheatre.ed" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/bedlamtheatre" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><%= link_to 'FoB', 'http://friendsofbedlam.co.uk', target: '_blank', title: 'Friends of Bedlam' %></li>
        <li><%= link_to 'Press',    static_path('press')        %></li>
        <li><%= link_to 'Sponsors', static_path('sponsors')     %></li>
        <li><%= link_to 'Archives', archives_index_path         %></li>
        <li><%= link_to 'Members',  admin_path                  %></li>
        <li><%= link_to 'Find Us', static_path('findus')        %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete if user_signed_in? %></li>
      </ul>

      <%= link_to image_tag('Header.png'), root_url, class: "hidden-phone" unless mobile_device? %>

      <ul id="nav" class="nav nav-pills">
        <li><%= link_to 'Shows', shows_path %></li>

        <% if WorkshopCounter::workshop_count > 0 %>
          <li><%= link_to 'Workshops', workshops_path %></li>
        <% end %>

        <li><%= link_to 'News', news_index_path %></li>
        <li><%= link_to 'About', about_index_path %></li>
        <li><%= link_to 'Get Involved', get_involved_index_path %></li>
        <li><%= link_to 'Contact', static_path('contact') %></li>
      </ul>
    </div>
    </div>
    <!-- END HEADER -->

    <%= render "shared/ie_notice" %>

    <%= render "shared/cookie_notice" %>
    <div class="alert-container">
      <% if @hide_alert != true %>
        <% flash.each do |key, msg| %>
          <% case key                               %>
          <% when :alert                            %>
          <%   alertclass = "alert-error"           %>
          <%   icon       = "fa fa-exclamation-sign" %>
          <% when :success                          %>
          <%   alertclass = "alert-success"         %>
          <%   icon       = "fa fa-ok"               %>
          <% when :notice                           %>
          <%   alertclass = "alert-info"            %>
          <%   icon       = "fa fa-info-sign"        %>
          <% end %>
          <p id="<%= key %>" class="alert <%= alertclass %>">
            <i class="<%= icon %> fa-large"></i>
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </p>
        <% end %>
      <% end %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render "shared/google_analytics" %>
  </div>

  <%= render "shared/footer" %>

  <script type="text/javascript">
    document.domain = "bedlamtheatre.co.uk";
  </script>
</body>
</html>
